@font-face {
	font-family: 'IranSans-Bold';
	src: url('https://files.rtl-theme.com/theme/assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IranSans-Medium';
	src: url('https://files.rtl-theme.com/theme/assets/fonts/woff2/IRANSansWeb.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('https://espard.com/template/fonts/iranyekanwebregular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300)

body {
  width:100%;
  height:100%;
  font-family: 'IranSans-Bold';
  background-color:#2c3e50;
  
}
table {
	font-family: 'IranSans-Bold';
}
.sidenav {
	position:fixed;
	z-index: 2;
	right:0;
	direction:ltr;
	overflow:auto;
	margin-top:80px;
	
}

.sidenav a{
	direction:rtl;
	float:right;
}


.bgvid{
	position:absolute;
	min-width: 100%;
    min-height: 100%;
	-webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
.bgvid:before{
	position:absolute;
	min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background: rgba(255,0,255,0.5); 
}
.players{
	background-image: url("stadiums/X.jpg");
	
	background-size: cover;
	padding:0;
	margin:0;
	position:relative;
	float:right;
	margin-bottom:3px;
}
.players:hover .stadium{
	filter:grayscale(0);
}
.stadium{
	background-image: url("stadiums/azadi.jpg");
	filter:grayscale(80%);
	background-size: cover;
	padding:0;
	margin:0;
	position:absolute;
	float:right;
	margin-bottom:3px;
}
.menu{
	background-color: #2598cd;
	padding:0;
	margin:0;
	position:relative;
	float:right;
	text-align:center;
	color:white;
}
.guide{
	font-family: 'IranSans-Bold';
	position:fixed;
	bottom:0;
	background-color:#013243;
	right:17px;
	z-index:50;
	color:#cf000f;
	direction:rtl;
}
.title{
	background-image: url("logo.png");
	position:relative;
	vertical-align:center;
	margin:auto;
	background-size:cover;
}
.team_i{
	background-color: #2c3e50;
	padding:0;
	margin:0;
	position:relative;
	float:right;
	text-align:center;
	color:white;
}
.logo_i{
	
	background-size: cover;
	position:absolute;
}
.name_i{
	font-family: 'IranSans-Bold';
	color:white;
	text-shadow:5px;
	font-size:20px;
	text-shadow: 2px 2px 4px #000000;
	position:absolute;
}
.item1{
	background-color: #2c3e50;
	
}
.item2{
	background-color: #34495e;
	text-shadow: 4px 4px 8px #000000;
}

@keyframes probable {
  0%   { background-blend-mode:normal; }
  50%  { background-blend-mode:luminosity; }
  100% {  background-blend-mode:normal; }
}
.probable{
   -webkit-animation: probable 1s infinite;
   background-color:#cf000f;
   background-blend-mode:luminosity;
   filter: grayscale(0);
}
@keyframes loanback {
  0%   { box-shadow:inset 0px 0px 0px 5px rgba(66, 244, 170,0); }
  50%  { box-shadow:inset 0px 0px 0px 5px rgba(66, 244, 170,0.8); }
  100% { box-shadow:inset 0px 0px 0px 5px rgba(66, 244, 170,0); }
}
.loanback{
   -webkit-animation: loanback 1s infinite;
   filter: grayscale(0);
}
.X_S{
	background-image: url("stadiums/X.jpg");
}
.Tractor_S{
	background-image: url("stadiums/Tractor.jpg");
}
.Perspolis_S{
	background-image: url("stadiums/azadi.jpg");
}
.Esteghlal_S{
	background-image: url("stadiums/azadi.jpg");
}
.Saipa_S{
	background-image: url("stadiums/Saipa.jpg");
}
.Sepahan_S{
	background-image: url("stadiums/Sepahan.jpg");
}
.Foolad_S{
	background-image: url("stadiums/Foolad.jpg");
}
.ZobAhan_S{
	background-image: url("stadiums/ZobAhan.jpg");
}
.player{
	background-image: url("players/unknown.png");
	background-size: cover;
	left:-30px;
	top:-20px;
	position:absolute;
}
.RezaAsadi{
	background-image: url("players/RezaAsadi.png");
}
.EhsanPahlevan{
	background-image: url("players/EhsanPahlevan.png");
}
.MohammadRezaHosseini{
	background-image: url("players/MohammadRezaHosseini.png");
}
.name{
	font-family: 'IranSans-Bold';
	right:20px;
	position:absolute;
	color:white;
	text-shadow:5px;
	top:50%;
	font-size:30px;
	text-shadow: 4px 4px 8px #000000;
	z-index:30;
}
.cost{
	font-family: 'IranSans-Medium';
	right:20px;
	position:absolute;
	color:white;
	text-shadow:5px;
	font-size:20px;
	direction:rtl;
	text-shadow: 4px 4px 8px #000000;
	z-index:30;
}
.I{
	display:none;
}
.logo1{
	background-image: url("logos/Esteghlal.png");
	background-size: cover;
	right:20px;
	opacity: 0.7;
	position:absolute;
	z-index:10;
}
.logo2{
	background-image: url("logos/Esteghlal.png");
	background-size: cover;
	opacity: 0.7;
	position:absolute;
	z-index:10;
}
.logo1:hover,.logo2:hover{
	opacity:1;
	z-index:40;
}
.field {
  width: 60px;
  height: 60px;
  position: absolute;
  background-size:cover;
  z-index:30;
}

.header{
	width:100%;
	height:80px;
	background-color:#013243;
	position:fixed;
	z-index:10;
}
.teams{
	height: 100%;
	width: 70%;
	position:fixed;
	left:0;

	background-color: #111;
}
.X{
	background-image: url("logos/X.png");
	background-size:cover;	
}
.Esteghlal{
	background-image: url("logos/Esteghlal.png");
	background-size:cover;
}
.Sepahan{
	background-image: url("logos/Sepahan.png");
	background-size:cover;
}
.Tractor{
	background-image: url("logos/Tractor.png");
	background-size:cover;
}
.ZobAhan{
	background-image: url("logos/ZobAhan.png");
	background-size:cover;
}
.Foolad{
	background-image: url("logos/Foolad.png");
	background-size:cover;
}
.Naft{
	background-image: url("logos/Naft.png");
	background-size:cover;
}
.Saipa{
	background-image: url("logos/Saipa.png");
	background-size:cover;
}
.Nasaji{
	background-image: url("logos/Nasaji.png");
	background-size:cover;
}
.Pars{
	background-image: url("logos/Pars.png");
	background-size:cover;
}
.Padideh{
	background-image: url("logos/Padideh.png");
	background-size:cover;
}
.Perspolis{
	background-image: url("logos/Perspolis.png");
	background-size:cover;
}
.SanatNaft{
	background-image: url("logos/SanatNaft.png");
	background-size:cover;
}
.Golgohar{
	background-image: url("logos/Golgohar.png");
	background-size:cover;
}
.Shahin{
	background-image: url("logos/Shahin.png");
	background-size:cover;
}
.MashinSazi{
	background-image: url("logos/MashinSazi.png");
	background-size:cover;
}
.Peykan{
	background-image: url("logos/Peykan.png");
	background-size:cover;
}
#mycanvas{
	z-index:20;
	position:absolute;
	background-color: rgba(34, 204, 247,0.4);
	
}
#Null{

}
.arrow-in {
	/* more triangle */
	position: relative;
	margin:auto;
	top:10px;
	height: 0px; width: 0px;
	border: 12px solid;
	border-color: 
		#29f1c3
		#29f1c3
		transparent
		transparent;
	transform: rotate(-55deg); 
}
.arrow-out{
	/* more triangle */
	position: relative;
	margin:auto;
	top:10px;
	height: 0px; width: 0px;
	border: 12px solid;
	border-color: 
		#cf000f
		#cf000f
		transparent
		transparent;
	transform: rotate(-55deg); 
}
.arrow-in:before {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	height: 12px; width: 16px;
	background-color: #29f1c3;
	transform: 
		rotate(-45deg) 
		translate(2px, 1px);
}
.arrow-out:before {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	height: 12px; width: 16px;
	background-color: #cf000f;
	transform: 
		rotate(-45deg) 
		translate(2px, 1px);
}
.arrow-6 {
    /* more triangle */
	position:absolute;
    height: 10px; width: 10px;
    border: 5px solid rgba(255, 255,0, 0.8);
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
	filter: drop-shadow(5px 5px 5px #222);
}

.arrow-6:before, .arrow-6:after {
    content: '';
    position: absolute;
    display: block;
    height: 10px; width: 10px;
    border-width: 3px 3px 0 0;
	filter: drop-shadow(10px 10px 5px #222);
}

.arrow-6:before {
    border: 5px solid rgba(255, 255,0, 0.6);
    border-width: 3px 3px 0 0;
    /* top - distance minus border */
    top: 7px; left: -10px;
	filter: drop-shadow(10px 10px 5px #222);
}

.arrow-6:after {
    border: 5px solid rgba(255, 255,0, 1);
    border-width: 3px 3px 0 0;
    /* top - distance plus border */
    top: -13px; left: 10px;
	filter: drop-shadow(10px 10px 5px #222);
}
.arrow-1 {
	position:absolute;
	border: 6px solid white;
	border-width: 6px 6px 0 0;
	transform: rotate(45deg);
	
	right:30px;
}
@media screen and (max-height: 450px) {
}

