body {
  padding:0;
  margin:0;
}

.teams {
  width: 50%;
  height: 50%;
  background-color:blue;
  position: relative;
}

.myCanvas{
	
	
	
}

.field {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #f00;
}
